<%= @post.name  %>
<%= @post.content  %>

<form action= "/posts/<%= @post.id %>" method="post" class="show-form">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <div class="show-form">
    <input type="submit" value="delete" id= "delete">
  </div>
</form>
